@charset "UTF-8"
@import "../../common/stylus/mixin.styl"
@import "../../common/stylus/variable.styl"
.active
  background-color:#e4353c !important
.tab
  ul li
    float:left
    padding:px2rem(20) px2rem(40)
    background-color:#42b983
    margin-left:px2rem(20)
  div
    margin-top: px2rem(60)
    border:1px solid #f8f8f8
