@charset "UTF-8"
@import "../../common/stylus/mixin.styl"
@import "../../common/stylus/variable.styl"
.head-common
  position:relative
  height:px2rem(100)
  background-color:$color-background-head
  a img
    position: absolute
    width:px2rem(80)
    top:px2rem(10)
  .head-common-title
    height:px2rem(100)
    line-height:px2rem(100)
    text-align: center
    font-size:18px
  .switch-btn
    position: absolute
    right:px2rem(80)
    top:px2rem(40)
    width:px2rem(40)
  .switch-text
    position: absolute
    right:px2rem(30)
    top:px2rem(35)

